{erl_opts, [debug_info]}.
{deps, [
	{jsx, "2.7.1", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}},
	{cowboy, "1.0", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.0"}}},
	{ibrowse, "4.1.1", {git, "http://github.com/cmullaparthi/ibrowse", {tag, "v4.1.1"}}},
	{oauth, "1.4.0", {git, "http://github.com/tim/erlang-oauth/", {tag, "v1.4.0"}}}
]}.

{relx, [{release, {'hashtux', "0.1.0"},
         ['hashtux',
          sasl]},

        {tux_miner, "./config/tux_miner.config"},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
