<?php
	// This sample file should be renamed to config.php

	// Supply all the available Erlang HashTux applications below
	$config['backend_servers'] = ["http://localhost:8080", "http://taco.hashtux.com:8080", "http://ivo.hashtux.com:8080"];

	// Timeout in seconds before chosing another server
	$config['backend_timeout'] = 7;

	// Instances of known downtime will be forgotten and servers will be considered for use again
	// after this interval in seconds 
	$config['backend_reconsider_time'] = 3600;

	// Twitter API key. Used to fetch trends on twitter.
	$config['twitter_api_key'] = 	array(
 	   'consumer_key'       => '8zASL19iVZ6IpMa0imBbRDJlo', // API key
 	   'consumer_secret'    => 'u4BL8BIGb6NllmZJwlnO2zpf0H5vzv2wMP4s5aYquZvBFEd0ux', // API secret
 	   'oauth_token'        => '', // not needed for app only
 	   'oauth_token_secret' => '');
?>
