RewriteEngine on

RewriteCond %{REQUEST_URI} !^/$ 
RewriteCond %{REQUEST_URI} !^/index.php$ 
RewriteCond %{REQUEST_URI} !^/css/(.+)$ 
RewriteCond %{REQUEST_URI} !^/js/(.+)$

RewriteRule ^(.+)$ search.php?search=$1 [QSA,L]

