% 
% Check the correct port for localhost.
% Then add other DB instances as new tuples in the "external" list.
%
[
{db_conf,[
	{localdb,{"http://localhost:1994/", "hashtux", "grouptux"}},
	{external, [{"http://tikser.se:1984/", "hashtux", "grouptux"}]}]},
{tux_miner, [
	{tux_miner_accounts, [
    	{account1, [
	   		{api_key, "8zASL19iVZ6IpMa0imBbRDJlo"},
	    	{api_secret, "u4BL8BIGb6NllmZJwlnO2zpf0H5vzv2wMP4s5aYquZvBFEd0ux"},
	    	{access_token, "3947085676-R5GaAeZAz2ns7wEcfZZ9Fw4Npt62kS4irnkgHcT"},
	    	{access_token_secret, "W1raFk3kqVEj38QFjDus2qCfk8IU8ilWgfTqAgk3T5Lv6"}
		]}
	]}
]}
]







