.col-fill {
    height: 100%;
    padding: 0;
}
.con-fill {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.con-fill-hor {
    width: 100%;
    padding: 0;
}
.search {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.header {
    width: 100%;
    position: absolute;
    top: 0;
}
.fixalert {
    margin-top:12px;
    display: none;
}
.row-grid-12 { height: 100%; }
.row-grid-11 { height: 91.66666666666666%; }
.row-grid-10 { height: 83.33333333333334%; }
.row-grid-9 { height: 75%; }
.row-grid-8 { height: 66.66666666666666%; }
.row-grid-7 { height: 58.333333333333336%; }
.row-grid-6 { height: 50%; }
.row-grid-5 { height: 41.66666666666667%;}
.row-grid-4 { height: 33.33333333333333%;}
.row-grid-3 { height: 25%; }
.row-grid-2 { height: 16.666666666666664%; }
.row-grid-1 { height: 8.333333333333332%; }

.fixitem {
    background-size: cover;
    background-position: center center;
}

.twittertext {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    color: #ebebeb;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.twitterimagetext {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    color: #ebebeb;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 0;
    padding: 10px;
}

.usernametweet {
    text-align: center;
    position: relative;
    top: 50%;
    color: #cccccc;
    font-size: 8px;
    font-style: italic;
    margin-bottom: 0;
}

.usernameimage {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    color: #cccccc;
    font-size: 10px;
}

.tophoverarea {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
}

.midhoverarea {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 60%;
}

.bothoverarea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.topbar {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    display: none;
}

.crumbtext {
    color: #1b6d85;
}

.greytext {
    color: #cccccc;
}

.optionspanel {
    background-color: #cccccc;
    margin: auto;
    width: 50%;
    height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ffffff;
    max-height: 100%;
    overflow-y: scroll;
}

.optiontext {
    color: #555555;
    font-size: 16px;
    margin-top: 10px;
}

.optionexpltext {
    color: #555555;
    font-size: 10px;
    margin-top: 5px;
}

.options {
    margin-bottom: 20px;
    margin-top: 15px;
}

.savebutton {
    width: 100%; 
    height: 10%;
    margin-top: 20px;
    border: none; 
    border-radius: 0;
}

.gridalert {
    padding: 10px;
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}